body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  direction: rtl;
  background-color: pink !important;
  color: #AC2A37 !important;
  font-family: 'Heebo';
}
